/firmware/target
/firmware/Cargo.lock

# Non-redistributable purchased assets
/DayOff/
/firmware/assets/themes/

# KiCad
*-backups/
*.kicad_pro-bak
*.kicad_sch-bak
*.kicad_pcb-bak
*.kicad_prl
*.net
*.bak
fp-info-cache
_autosave-*
~*.lck
temp-freerouting.dsn
kicad/production/
.history/
